*, *:after, *:before {
    transition: .75s ease-in-out;
    -webkit-transition: .75s ease-in-out;
    -moz-transition: .75s ease-in-out;
}

#bg {
    background-image: url("/assets/lessgo.png");
    background-size: cover;
    filter: blur(15px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#img_cont {
    /*background-image: url("/assets/denmogus.png");*/
    /*background-size: contain;*/
    height: 75vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    /*margin: auto;*/
    /*left: 0;*/
    /*right: 0;*/
}

.img {
    width: inherit;
    height: inherit;
}

.hidden {
    opacity: 0;
}

.top {
    z-index: 9000;
}

#stripe {
    position: absolute;
    margin: auto;
    top: 400px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: rgba(0,100,0,0.5);
    z-index: 10;
    text-align: center;
    color: #ffffff;
    font-family: Rotonda, sans-serif;
    font-size: 14pt;
    font-weight: normal;
}